<div class="container">
<div class="nav">
    <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
                <a class="navbar-item" href="vizionari.rs">
                    <img src="assets/img/vizionari.png" >
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/index.html">
                    Početna
                    </a>
                    <a class="navbar-item" href="/uputstva.html">
                    Uputstva za izradu 
                    </a>
                    <a class="navbar-item" href="https://docs.google.com/forms/d/e/1FAIpQLSe3KCGMmCIbWBj-jgIz4mQYz1U_VPzqMEQFa2Qwyd5pRvLvcA/viewform">
                    Poručivanje vizira
                    </a>
                    <a class="navbar-item" href="https://docs.google.com/forms/d/e/1FAIpQLSfD2bs7jF39LUeDmEbi_9zPSoS4vcucmbxA9wMmAmC31RZumA/viewform">
                     Za Mejkere
                    </a>
                </div>
        </div>
    </nav>
</div>
</div>
  <script>
        let burger = document.querySelector('.burger');
        let nav = document.querySelector('#'+burger.dataset.target);
        console.log(nav);
        console.log(burger);
        burger.addEventListener('click', (e) => {
          nav.classList.toggle('is-active');
        });
  </script>
