
<h2 class="is-size-5">23. Mart - Novo</h2>

<p>Izvinjavamo se zbog konfuzije, morali smo prethodno
da zatvorimo formu zbog ogromnog broja zahteva, da bismo
mogli dobro da organizujemo, da nikog od najugroženijih ne propustimo.

<h2 class="is-size-5">22. Mart - akcija FDM printanja drzača vizira se produžava do 25.3. do početka zabrane kretanja tog dana</h2>

<p>Za brizgane primerke jos razrađujemo logistiku dostave,
a zahtevi su veliki pa moramo nastaviti sa FDM.

<h2 class="is-size-5">Važno za mejkere koji printaju</h2>

<p>Ispunite ovu <a href="https://forms.gle/XC52epvNfMZ757Gz5">formu</a> da znamo gde ste i gde da nosite isprintano.</p>
<p>U istoj formi su i pitanja iz <a href="https://startit.rs">Startit</a> koji od početka podrzava celu
akciju i zeli da prikaže sve vas koji printate. Bravo <a href="https://startit.rs">Startit</a> 🤘.


<h2 class="is-size-5">Važne informacije</h5>

<p>Hvala svim lekarima i medicinskim sestrama na svemu što radite. Mi se trudimo da vam pomognemo koliko mozemo.</p>

<p>Vizionari Srbije nisu industrija, radimo na ličnu inicijativu i samo sa ličnim resursima, pa nažalost (za sada) ne 
možemo da radimo velike serije.</p>

<p>Sada smo razradili logistiku i viziri će biti distribuirani u koordinaciji sa medicinskim ustanovama po prioritetima. 
Javićemo čim budemo mogli da počnemo i nešto veće serije.</p>

<p>Hvala svim volonterima koji su se javili za dostavljanje vizira. Biće kontaktirani po potrebi!</p>
<p>I naravno, <b>hvala svim mejkerima</b>! 🛠</p>

<h2 class="is-size-5">Politika privatnosti</h2>

<p>Svi lični podaci (ime, broj telefona, mejl) biće tretirani u skladu sa Opštom uredbom o zaštiti podataka o ličnosti (GDPR).

<h2 class="is-size-5">Mere prevencije</h2>
<p>Budite odgovorni - volonteri za dostavu - samo pojedinačno!</p>

<p>Kod sklapanja folija i drzača: budite uvek na međusobnoj udaljenosti većoj od 1-2m, perite često ruke SAPUNOM, dezinfikujte.</p>

<p>Poštujte izolaciju. Pratite obaveštenja samo iz relevantnih izvora. Tapšite u 20 casova 😃.</p>
